[Unit]
Description=NAD RS232 REST-API Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/home_automation/nad-rs232-rest/nad-rs232-rest.py
Restart=always

[Install]
WantedBy=multi-user.target
